body {
     color: #000000;
     font: 11px Verdana,Arial,sans-serif;
     margin: 0pt;
     padding: 0pt;
}

.ContentPage, .IndexPage, .FramedMenuPage {
     background-color: #FFFFFF;
     width: 980px;
     display: block;
     margin-left: auto;
     margin-right: auto;
}

.FramedContentPage, .FramedIndexPage, .FramedSearchResultsPage, .PopupSearchResultsPage {
     background-color: #FFFFFF;
     padding: 0pt 5%;
}

.AppTitle {
     background: -moz-linear-gradient(center bottom , #D9D9D9 0%, #FAFAFA 100%) repeat scroll 0% 0% #FFFFFF;
     font-weight: bold;
     height: 20px;
     padding: 10px;
     width: 100%;
     z-index: 30;
     margin-top: 5px;
}

a:link, a:visited {
     color: #900000;
     text-decoration: none;
}

a:hover {
     color: #900000;
     text-decoration: underline;
}

a:active {
     color: #FF0000;
     text-decoration: underline;
}

td {
     vertical-align: top;
}

img {
     border: 0pt none;
}

p {
     margin: 0pt;
     text-indent: 0pt;
}

.Opera wbr:after {
     content: "​";
}

blockquote {
     margin: 0pt;
     overflow: auto;
     padding: 0pt;
}

.Firefox1 blockquote {
     padding-bottom: 0.5em;
}

@media print {
  blockquote { overflow: visible; }
  .IE blockquote { width: auto; }
}

#Menu {
     padding: 0pt;
}

.ContentPage #Menu, .IndexPage #Menu {
     padding-top: 10px;
     width: 220px;
     position: absolute;
     top: 50px;
     height: auto;
}


#Content {
     padding-bottom: 15px;
     padding-top: 5px;
}


.ContentPage #Content {
	right: 10px;
     margin-left: 250px;
}

.ContentPage .Firefox #Menu, .IndexPage .Firefox #Menu {
     width: 250px;
}

.ContentPage #Footer {
	right: 10px;
     margin-left: 250px;
     text-align: right;
}


.MTitle {
     border-bottom: 1px dotted #000000;
     margin-bottom: 0px;
     padding: 5px 10px 5px;
     text-align: center;
}

.MSubTitle {
     font-weight: normal;
     margin-bottom: 2px;
     margin-top: 1ex;
}

.MEntry a:link, .MEntry a:hover, .MEntry a:visited {
     color: #606060;
     margin-right: 0pt;
}

.MEntry a:active {
     color: #A00000;
     margin-right: 0pt;
}

.MGroup {
     font-variant: small-caps;
     font-weight: bold;
     margin: 1em 0pt 0em 10px;
}

.MGroupContent {
     font-variant: normal;
     font-weight: normal;
}

.MGroup a:link, .MGroup a:hover, .MGroup a:visited {
     color: #545454;
     margin-right: 10px;
}

.MGroup a:active {
     color: #A00000;
     margin-right: 10px;
}

.MFile, .MText, .MLink, .MIndex {
     margin: 0.25em 0pt;
     padding: 1px 17px 2px 10px;
}

.MText {
     font-style: italic;
}

.MLink {
     font-style: italic;
}

#MSelected {
     background-color: #EEEEEE;
     border: 0pt none;
     color: #800000;
     margin-right: 10px;
     padding: 3px 10px 5px;
}

.MGroup #MSelected {
     border-left-width: 1px;
     padding-left: 9px;
}

.Firefox #MSelected {
     border-bottom-right-radius: 3px;
     border-top-right-radius: 3px;
}

.Firefox .MGroup #MSelected {
     border-bottom-left-radius: 3px;
     border-top-left-radius: 3px;
}

#MSearchPanel {
     margin: 0.25em 0pt;
     padding: 0px 6px;
}

#MSearchField {
     background-color: #fff;
	 border: 1px solid #eee;
	 border-radius: 3px;
     font: italic 9pt Verdana,sans-serif;
     padding: 2px 4px;
     width: 100%;
}

.Firefox #MSearchField, .IE #MSearchField, .Safari #MSearchField {
     width: 94%;
}

.Opera9 #MSearchField, .Konqueror #MSearchField {
     width: 97%;
}

.FramedMenuPage .Firefox #MSearchField, .FramedMenuPage .Safari #MSearchField, .FramedMenuPage .Konqueror #MSearchField {
     width: 98%;
}

#MSearchPanel.MSearchPanelInactive:hover #MSearchField {
     background-color: #FFFFFF;
     border: 1px solid #C0C0C0;
     padding: 1px 3px;
}

.MSearchPanelActive #MSearchField {
     background-color: #FFFFFF;
     border: 1px solid #C0C0C0;
     font-style: normal;
     padding: 1px 3px;
}

#MSearchType {
     border: 1px solid #C0C0C0;
     font: 8pt Verdana,sans-serif;
     padding: 0pt;
     visibility: hidden;
     width: 98%;
}

.MSearchPanelActive #MSearchType, #MSearchPanel.MSearchPanelInactive:hover #MSearchType, #MSearchType:focus {
     color: #606060;
     visibility: visible;
}

#MSearchType option#MSearchEverything {
     font-weight: bold;
}

.Opera8 .MSearchPanelInactive:hover, .Opera8 .MSearchPanelActive {
     margin-left: -1px;
}

iframe#MSearchResults {
     height: 15em;
     width: 60ex;
}

#MSearchResultsWindow {
     background-color: #E8E8E8;
     border: 1px solid #000000;
     display: none;
     left: 0pt;
     position: absolute;
     top: 0pt;
}

#MSearchResultsWindowClose {
     display: block;
     font-weight: bold;
     padding: 2px 5px;
}

#MSearchResultsWindowClose:link, #MSearchResultsWindowClose:visited {
     color: #000000;
     text-decoration: none;
}

#MSearchResultsWindowClose:active, #MSearchResultsWindowClose:hover {
     background-color: #F4F4F4;
     color: #800000;
     text-decoration: none;
}


.ContentPage .Firefox #Content {
     margin-left: 250px;
}

.CTopic {
     margin-bottom: 3em;
}

.CTitle {
     border-bottom: 1px dotted #AAAAAA;
     font-weight: bold;
     margin: 0pt 15px 0.5em;
}

.CGroup .CTitle {
     border-color: #FAFAFA;
     border-width: 0pt 0pt 2px;
     margin-left: 0pt;
     margin-right: 0pt;
     padding-left: 15px;
     padding-right: 15px;
}

.CClass .CTitle, .CInterface .CTitle, .CDatabase .CTitle, .CDatabaseTable .CTitle, .CSection .CTitle {
     border: medium none;
     margin-left: 0pt;
     margin-right: 0pt;
     padding: 10px 15px;
}

.CFunction, .CTodo, .CVariable, .CDatabaseField, .CConstant {
     margin-left: 0px;
}

#MainTopic .CTitle {
     border-color: #FAFAFA;
     border-width: 0pt 0pt 3px;
     margin-left: 0pt;
     margin-right: 0pt;
     padding: 10px 15px;
}

.CBody {
     margin-left: 010px;
     margin-right: 15px;
}

.CToolTip {
     background-color: #FFFFE0;
     border-color: #FAFAFA;
     border-style: solid;
     border-width: 1px 2px 2px 1px;
     left: 0pt;
     padding: 5px;
     position: absolute;
     top: 0pt;
     visibility: hidden;
}

.Opera .CToolTip {
     max-width: 98%;
}

.CToolTip blockquote {
     overflow: hidden;
}

.IE6 .CToolTip blockquote {
     overflow: visible;
}

.CHeading {
     font-weight: bold;
     margin: 1.5em 0pt 0.5em;
}

.CBody pre {
     background-color: #FCFCFC;
     border: 1px #E0E0E0 solid;
     border-top-width: 3px;
     border-radius: 3px;
     margin: 1em 0;
     padding: 3px 3px 3px 5px;
}

.CBody ul {
     margin: 0.5em 5ex;
     padding-left: 15px;
     padding-right: 15px;
}

.CDescriptionList {
     margin: 0.5em 5ex 0pt;
}

.CDLEntry {
     color: #808080;
     font: 10pt "Courier New",Courier,monospace;
     padding-bottom: 0.25em;
     white-space: nowrap;
}

.CDLDescription {
     padding-bottom: 0.5em;
     padding-left: 5ex;
}

.CTopic img {
     display: block;
     margin: 1em auto;
     text-align: center;
}

.CImageCaption {
     color: #808080;
     font-variant: small-caps;
     position: relative;
     text-align: center;
     top: 1em;
}

.CImageLink {
     color: #808080;
     font-style: italic;
}

a.CImageLink:link, a.CImageLink:visited, a.CImageLink:hover {
     color: #808080;
}

.Prototype {
     border-style: solid;
     border-width: 1px;
     font: 10pt "Courier New",Courier,monospace;
	 width: 100%;
     padding: 5px 3ex;
     margin-bottom: 5px;
}

.Prototype td {

}

.PDefaultValue, .PDefaultValuePrefix, .PTypePrefix {
     color: #8F8F8F;
}

.PTypePrefix {
     text-align: right;
}

.PAfterParameters {
     vertical-align: bottom;
}

.IE .Prototype table {
     padding: 0pt;
}

.CFunction .Prototype {
     background-color: #F4F4F4;
     border-color: #D0D0D0;
}

.CProperty .Prototype {
     background-color: #F4F4FF;
     border-color: #C0C0E8;
}

.CVariable .Prototype {
     background-color: #FFFFF0;
     border-color: #E0E0A0;
}

.CClass .Prototype {
     background-color: #F4F4F4;
     border-color: #A0A0A0;
     border-style: solid;
     border-width: 1px 2px 2px 1px;
}

.CInterface .Prototype {
     background-color: #F4F4FF;
     border-color: #A0A0D0;
     border-style: solid;
     border-width: 1px 2px 2px 1px;
}

.CDatabaseIndex .Prototype, .CConstant .Prototype {
     background-color: #D0D0D0;
     border-color: #000000;
}

.CType .Prototype, .CEnumeration .Prototype {
     background-color: #FAF0F0;
     border-color: #E0B0B0;
}

.CDatabaseTrigger .Prototype, .CEvent .Prototype, .CDelegate .Prototype {
     background-color: #F0FCF0;
     border-color: #B8E4B8;
}

.CToolTip .Prototype {
     margin: 0pt 0pt 0.5em;
     white-space: nowrap;
}

.Summary {
	padding: 0;
     margin: 10px 0 10px 0;
     width: 100%;
}

.STitle {

     font-weight: bold;
     margin-bottom: 0.2em;
}

.SBorder {
     background-color: #FCFCFC;
     border: 1px solid #DDDDDD;
     padding: 15px;
}

.FramedContentPage .IE .SBorder {
     width: 100%;
}

.Firefox .SBorder {
     border-radius: 3px 3px 3px 3px;
}

.STable {

     width: 100%;
}

.SEntry {
     width: 30%;
}

.SDescription {
     width: 70%;
}

.SMarked {
     background-color: #F3F3F3;
}

.SDescription {
     padding-left: 2ex;
}

.SIndent1 .SEntry {
     padding-left: 1.5ex;
}

.SIndent1 .SDescription {
     padding-left: 3.5ex;
}

.SIndent2 .SEntry {
     padding-left: 3ex;
}

.SIndent2 .SDescription {
     padding-left: 5ex;
}

.SIndent3 .SEntry {
     padding-left: 4.5ex;
}

.SIndent3 .SDescription {
     padding-left: 6.5ex;
}

.SIndent4 .SEntry {
     padding-left: 6ex;
}

.SIndent4 .SDescription {
     padding-left: 8ex;
}

.SIndent5 .SEntry {
     padding-left: 7.5ex;
}

.SIndent5 .SDescription {
     padding-left: 9.5ex;
}

.SDescription a {
     color: #800000;
}

.SDescription a:active {
     color: #A00000;
}

.SGroup td {
     padding-bottom: 0.25em;
     padding-top: 0.25em;
}

.SGroup .SEntry {
     font-variant: small-caps;
     font-weight: bold;
}

.SGroup .SEntry a {
     color: #800000;
}

.SGroup .SEntry a:active {
     color: #F00000;
}

.SMain td, .SClass td, .SDatabase td, .SDatabaseTable td, .SSection td {
     padding-bottom: 0.25em;
}

.SClass td, .SDatabase td, .SDatabaseTable td, .SSection td {
     padding-top: 1em;
}

.SMain .SEntry, .SClass .SEntry, .SDatabase .SEntry, .SDatabaseTable .SEntry, .SSection .SEntry {
     font-weight: bold;
}

.SMain .SEntry a, .SClass .SEntry a, .SDatabase .SEntry a, .SDatabaseTable .SEntry a, .SSection .SEntry a {
     color: #000000;
}

.SMain .SEntry a:active, .SClass .SEntry a:active, .SDatabase .SEntry a:active, .SDatabaseTable .SEntry a:active, .SSection .SEntry a:active {
     color: #A00000;
}

.ClassHierarchy {
     margin: 0pt 15px 1em;
    width: 100%;
    float: left;
}

.CHEntry {
     background-color: #F4F4F4;
     border-color: #A0A0A0;
     border-style: solid;
     border-width: 1px 2px 2px 1px;
     color: #606060;
     margin-right: 3px;
     margin-bottom: 3px;
     padding: 2px 2ex;
    width: 200px;
    float: left;
}

.Firefox .CHEntry {
     border-radius: 4px 4px 4px 4px;
}

.CHCurrent .CHEntry {
     color: #000000;
     font-weight: bold;
     background-color: #fafafa;
}

.CHChildNote .CHEntry {

     font-style: italic;
}

.CHIndent {
     margin-left: 5px;
}

.CHEntry a:link, .CHEntry a:visited, .CHEntry a:hover {
     color: #606060;
}

.CHEntry a:active {
     color: #800000;
}

#Index {
     background-color: #FFFFFF;
}

.IndexPage #Index, .FramedIndexPage #Index, .FramedSearchResultsPage #Index {
     padding: 45px;
}

.IndexPage #Index {
     border-color: #FAFAFA;
     border-style: solid;
     border-width: 0pt 0pt 1px 1px;
     margin-left: 250px;
}

.IPageTitle {
     border: medium none;
     font-weight: bold;
     margin: -15px -15px 0pt;
     padding: 10px 15px;
}

.FramedSearchResultsPage .IPageTitle {
     margin-bottom: 15px;
}

.INavigationBar {
     background-color: #FFFFF0;
     border-bottom: 1px solid black;
     margin: 0pt -15px 15px;
     padding: 5px;
     text-align: center;
}

.INavigationBar a {
     font-weight: bold;
}

.IHeading {

     font-weight: bold;
     padding: 2.5em 0pt 0.5em;
     text-align: center;
     width: 3.5ex;
}

#IFirstHeading {
     padding-top: 0pt;
}

.IEntry {
     padding-left: 1ex;
}

.PopupSearchResultsPage .IEntry {

     padding: 1px 5px;
}

.PopupSearchResultsPage .Opera9 .IEntry, .FramedSearchResultsPage .Opera9 .IEntry {
     text-align: left;
}

.FramedSearchResultsPage .IEntry {
     padding: 0pt;
}

.ISubIndex {
     padding-bottom: 0.5em;
     padding-left: 3ex;
}

.PopupSearchResultsPage .ISubIndex {
     display: none;
}

.ISymbol {
     color: #900000;
     font-weight: bold;
}

.IndexPage .ISymbolPrefix, .FramedIndexPage .ISymbolPrefix {
     background-color: #F8F8F8;
     border-left: 1px solid #E0E0E0;
     border-right: 3px solid #E0E0E0;
     color: #C47C7C;
     padding: 0pt 1px 0pt 2px;
     text-align: right;
}

.PopupSearchResultsPage .ISymbolPrefix, .FramedSearchResultsPage .ISymbolPrefix {
     color: #900000;
}

.PopupSearchResultsPage .ISymbolPrefix {

}

.IndexPage #IFirstSymbolPrefix, .FramedIndexPage #IFirstSymbolPrefix {
     border-top: 1px solid #E0E0E0;
}

.IndexPage #ILastSymbolPrefix, .FramedIndexPage #ILastSymbolPrefix {
     border-bottom: 1px solid #E0E0E0;
}

.IndexPage #IOnlySymbolPrefix, .FramedIndexPage #IOnlySymbolPrefix {
     border-bottom: 1px solid #E0E0E0;
     border-top: 1px solid #E0E0E0;
}

a.IParent, a.IFile {
     display: block;
}

.PopupSearchResultsPage .SRStatus {

     font-style: italic;
     padding: 2px 5px;
}

.FramedSearchResultsPage .SRStatus {

     font-style: italic;
}

.SRResult {
     display: none;
}

#Footer {
     color: #989898;
     text-align: center;
}

#Footer p {
     margin-bottom: 0.5em;
     text-indent: 0pt;
}

.ContentPage #Footer, .IndexPage #Footer {
     margin: 2px;
}

.FramedMenuPage #Footer {
     border-top: 1px solid #C8C8C8;
     margin: 5em 10px 10px;
     padding-top: 1em;
     text-align: center;
}

#Footer a:link, #Footer a:hover, #Footer a:visited {
     color: #989898;
}

#Footer a:active {
     color: #A00000;
}

.prettyprint .kwd {
     color: #800000;
}

.prettyprint.PDefaultValue .kwd, .prettyprint.PDefaultValuePrefix .kwd, .prettyprint.PTypePrefix .kwd {
     color: #C88F8F;
}

.prettyprint .com {
     color: #008000;
}

.prettyprint.PDefaultValue .com, .prettyprint.PDefaultValuePrefix .com, .prettyprint.PTypePrefix .com {
     color: #8FC88F;
}

.prettyprint .str {
     color: #0000B0;
}

.prettyprint .lit {
     color: #0000B0;
}

.prettyprint.PDefaultValue .str, .prettyprint.PDefaultValuePrefix .str, .prettyprint.PTypePrefix .str, .prettyprint.PDefaultValue .lit, .prettyprint.PDefaultValuePrefix .lit, .prettyprint.PTypePrefix .lit {
     color: #8F8FC0;
}

.prettyprint .typ {
     color: #000000;
}

.prettyprint .pun {
     color: #000000;
}

.prettyprint .pln {
     color: #000000;
}

.prettyprint.PDefaultValue .typ, .prettyprint.PDefaultValuePrefix .typ, .prettyprint.PTypePrefix .typ, .prettyprint.PDefaultValue .pun, .prettyprint.PDefaultValuePrefix .pun, .prettyprint.PTypePrefix .pun, .prettyprint.PDefaultValue .pln, .prettyprint.PDefaultValuePrefix .pln, .prettyprint.PTypePrefix .pln {
     color: #8F8F8F;
}

.prettyprint .tag {
     color: #000088;
}

.prettyprint .atn {
     color: #660066;
}

.prettyprint .atv {
     color: #008800;
}

.prettyprint .dec {
     color: #660066;
}
