<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Scheduled maintenance</title>

<link rel="stylesheet" href="http://static.aenoa-systems.com/acf/reset.css" type="text/css" media="screen,projection" />
<!--[If IE]>
<link rel="stylesheet" href="http://static.aenoa-systems.com/acf/ie.css" type="text/css" media="screen,projection" />
<![endif]-->
<link rel="stylesheet" href="http://static.aenoa-systems.com/acf/typography.css" type="text/css" media="screen,projection" />
<link rel="stylesheet" href="http://static.aenoa-systems.com/acf/layout-common.css" type="text/css" media="screen,projection" />
<link rel="stylesheet" href="http://static.aenoa-systems.com/acf/layout-1024.css" type="text/css" media="screen,projection" />

<link rel="stylesheet" href="http://static.aenoa-systems.com/acf/plugins/iconify/iconify.css" type="text/css" media="screen,projection" />
<link rel="stylesheet" href="http://static.aenoa-systems.com/acf/plugins/colorize.css" type="text/css" media="screen,projection" />

</head>
<body class="light-block marged p sans-serif">
	<div class="white-block layout block-centered b p light-shadowed">
		<h2 class="p icon manage">Oops! Scheduled maintenance...</h2>
		
		<p class=" aligncenter">
			We are performing scheduled maintenance to improve our services. We should be back online in a few minutes.<br />
			</p>
		<p class=" aligncenter">
			<img src="http://static.aenoa-systems.com/photo/maintenance.jpg" title="Real-time photo of current maintenance" alt="" class="light-shadowed"/>
		</p>
	</div>

	<div class="aligncenter minimized margedtop">
		Aenoa Server maintenance message
	</div>
</body>
</html>